:root {
  --text-color: #121212;
  --background-color: #fffbf4;
  --primary-color: #fa4411; /*alt 2: #394390*/
  --accent-color: #6f6350;
  --card-shadow-color: #00000010;
}

h1 {
  color: var(--primary-color);
  margin: auto;
  padding: 0%;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 300; /* Adjust the weight value as needed */
}

h2 {
  color: var(--text-color);
  margin: auto;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  padding-left: 24px;
  padding-top: 30px;
  font-weight: 300; /* Adjust the weight value as needed */
}

/* Link Colors */
a,
a:visited,
a:hover {
  color: var(--primary-color); /* Default link color */
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Star animation */
.app {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

/* Style after  animation */
.app.loaded {
  opacity: 1;
}

.about-me-text {
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.7;
  font-size: 20px;
}

.about-me-text p {
  margin-top: 10px;
  margin-bottom: 0;
}

.text-container {
  text-align: center;
}

.text-container p {
  line-height: 1.7; /* Adjust the value to increase or decrease spacing */
  font-size: 20px;
}

.image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 150px;
}

.profile-image {
  width: 300px;
  height: 300px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: auto;
  white-space: nowrap;
}

.social-links a {
  text-decoration: none;
}

/* For screens wider than 1300px (large desktop) */
.content-container {
  max-width: 1300px;
  margin: auto;
}

/* For screens wider than 900px (desktop) */
@media (min-width: 901px) {
  .header p {
    padding-left: 3rem;
    padding-right: 5rem;
    margin-top: 0;
  }

  .social-links {
    justify-content: center;
    padding-top: 10px;
  }

  h1 {
    font-size: 9rem;
    padding-left: 0;
  }

  .about-me-text {
    padding-left: 24px;
    padding-right: 24px;
  }

  .card {
    min-width: 400px;
  }
}

/* For screens 900px and narrower (mobile) */
@media (max-width: 900px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header p {
    margin-top: 10px;
    text-align: left;
  }

  .social-links {
    justify-content: flex-start;
  }

  .image-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 3rem;
    text-align: left;
  }

  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .card {
    min-width: 345px;
  }
}

/* ------- CARD Style ------- */

.card {
  height: 450px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10rem;

  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card-list {
  display: flex;
  overflow-x: scroll;
}

.card-header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header p {
  margin: 0;
  color: var(--text-color);
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  color: var(--text-color);
  border: 0;
  display: inline-block;
}

.card-image-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  object-fit: cover;
}

.card-image-container img {
  width: 100%;
}
