@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

:root {
  --text-color: #121212;
  --background-color: #fffbf4;
  --primary-color: #d73204;
  --header-color: #fa4411;

  --modal-shadow: 0.3;

  --gap: 1em;
  --item-width: 300px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fffbf4;
    --background-color: #121212;
    --primary-color: #6d77c5;
    --header-color: #4c59b8;

    --modal-shadow: 1;
  }
}

h1 {
  color: var(--primary-color);
  margin: auto;
  padding: 0%;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-weight: 300;
}

h2 {
  color: var(--text-color);
  margin: auto;
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  padding-left: 24px;
  padding-top: 30px;
  font-weight: 300;
}

/* Link Colors */
a,
a:visited,
a:hover {
  color: var(--primary-color); /* Default link color */
}

footer {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 8rem;
}

/* Color of logos  */
.social-links path {
  fill: var(--background-color);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;

  /* Hide scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Start animation */
.app {
  opacity: 0;
  transition: opacity 3s ease;
}

/* Style after animation */
.app.loaded {
  opacity: 1;
}

.about-me-text {
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.7;
  font-size: 18px;
}

.about-me-text p {
  margin-top: 10px;
  margin-bottom: 0;
}

.text-container {
  text-align: center;
}

.text-container p {
  line-height: 1.7; /* Adjust the value to increase or decrease spacing */
  font-size: 18px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: auto;
  white-space: nowrap;
}

.github-project-link-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #fffbf4;
  border-radius: 50%;
  top: 30px;
  left: 30px;
  height: 20px;
  width: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.github-project-link path {
  color: #121212;
}

.social-links a {
  text-decoration: none;
  background: var(--text-color);
  color: var(--background-color);
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
}

/* For screens wider than 1000px (large desktop) */
.content-container {
  max-width: 1000px;
  margin: auto;
}

.header {
  padding-top: 15rem;
  z-index: 10;
}

/* For screens wider than 900px (desktop) */
@media (min-width: 901px) {
  .card-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header p {
    max-width: 800px;
    margin: auto;
    padding-bottom: 1em;
  }

  .social-links {
    justify-content: center;
    padding-top: 10px;
  }

  h1 {
    font-size: 7rem;
    padding-left: 0;
  }

  .about-me-text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* For screens 900px and narrower (mobile) */
@media (max-width: 900px) {
  .card-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header p {
    margin-top: 10px;
    text-align: left;
  }

  .social-links {
    justify-content: flex-start;
  }

  h1 {
    font-size: 3rem;
    text-align: left;
  }

  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
  }
}

/* ------- CARD Style ------- */

.card-header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header p {
  margin: 0;
  color: var(--text-color);
}

.card-image-container {
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center; /* Vertical */
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  object-fit: cover;
}

.card-image-container img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.card-image-container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.p5-canvas {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure canvas is behind header and other elements */
}

/* MASONRY */

.card-container {
  max-width: 100%;
  margin: 0 auto;
  column-width: var(--item-width);
  column-gap: var(--gap);
  padding-top: 10px;
}

.card-container > .card {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

@supports (grid-template-rows: masonry) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .card-container > .card {
    margin-bottom: 0;
  }
}

/* ------- MODAL Styles ------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  /* Base animation properties */
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeInAnimation;
}

.fadeOut {
  animation-name: fadeOutAnimation;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-content {
  box-shadow: 0 0 200px rgba(0, 0, 0, var(--modal-shadow));
  background: var(--background-color);
  padding: 20px;
  margin: 6px;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal-content p {
  margin-bottom: 0;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.skeleton-image {
  width: 100%;
  height: 300px;
}
